<h1>About</h1>
<p>Somos uma aplicação destinada a facilitar o contato 
entre o prestador e o demandante de um serviço.<br/>
Fazemos isso baseado na geolocalização dos usuários.
</p>
<p>Version: 1.0.0</p>