<div class="jumbotron text-center">
  
  <form autocomplete="off" action="/ideas">
    <div class="autocomplete" style="width:300px;">
      <input id="myInput" type="text" name="prestador" placeholder="Localizar prestador">
    </div>
    <input type="submit" value="buscar">
  </form>
</div>
<div id="map"></div>
