<div class="jumbotron text-center">

  <form autocomplete="off" method="post" action="/findhelp/">
    <div class="autocomplete" style="width:350px;">
      <input id="myInput" type="text" name="prestador" placeholder="Localizar prestador">
    </div>
    <input type="submit" value="buscar">
  </form>
</div>
<div id="map"></div>
